h1{color:rgb(219, 68, 219);}
h2{color:rgb(219, 68, 219);}
h3{color:rgb(219, 68, 219);}
h4{color:rgb(219, 68, 219);}
p{color:rgb(132, 148, 25);}
 #simbolo{background-color:rgb(145, 167, 235);}
body{text-align:center;}