h1{color:rgb(219, 68, 219);}
h2{color:rgb(219, 68, 219);}
h3{color:rgb(219, 68, 219);}
h4{color:rgb(219, 68, 219);}
p{color:rgb(132, 148, 25);}
 #defensa{background-color:rgb(145, 167, 235);}
 #contexto{background-color:rgb(145, 167, 235);}
 #accion{background-color:rgb(145, 167, 235);}
 #resultado{background-color:rgb(145, 167, 235);}

body{text-align:center;}